.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 8rem;
}

.wp-block-buttons,
.wp-block-cover,
.wp-block-media-text,
.wp-block-group {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

.wp-block-button__link {
    font-size: 1.125rem;
    border-radius: 0.43rem;
    padding: 0.56rem 1.3rem;
}

.wp-block-quote {
    margin: 0 0 1.5em;
    border-left: 4px solid #404040;
    padding: 0 0 0 1em;

    p {
        margin-bottom: 1rem;
        font-size: 1.1rem;

        @media screen and (min-width: $break-37) {
            font-size: 1.4rem;
        }
    }

    cite {
        font-size: 1.125rem;
    }

    &.is-style-large {
        margin: 2.5rem 0;

        p {
            font-size: 2rem;
        }
    }
}

.wp-block-pullquote p {
    line-height: 1.4;
}

.wp-block-image {
    figcaption {
        margin-bottom: 2rem;
    }
}

.wp-block-gallery {
    margin-bottom: 1.5em;
}

.wp-block-table {
    figcaption {
        margin-top: 0.8em;
        margin-bottom: 1rem;
    }
}

.has-small-font-size {
    font-size: 1.125rem;
}

.has-normal-font-size {
    font-size: 1.2rem;
}

.has-large-font-size {
    font-size: 1.875rem;
}

.has-huge-font-size {
    font-size: 2.5rem;
}