/*
 * Block editor stylesheet
*/

body.gutenberg-editor-page {
    .edit-post-visual-editor {
        font-family: 'Poly', serif;

        p {
            font-family: 'Poly', serif;
            font-size: 1.4rem;
            line-height: 1.5;
        }
    }

    .editor-post-title__input {
        font-family: 'Poly', serif;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
    }

    .editor-post-title__block,
    .editor-default-block-appender,
    .editor-block-list__block {
        max-width: 46.125rem;
    }

    @import 'core-blocks';
}
