/*--------------------------------------------------------------
# Site Content
--------------------------------------------------------------*/
.site-content {
	max-width: 75em;
	margin: 0 auto;
	padding: 2em 1.2em;

	@media screen and (min-width: $break-37) {
		padding: 3.5em 2em;
	}

	.page &,
	.error404 & {
		max-width: 60em;
	}
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	font-family: 'Poly', serif;
	font-weight: 400;
}

.single .entry-header {
	margin-bottom: 2em;
}

.entry-title {
	margin: 0 0 0.3em;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.1;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	@media screen and (min-width: $break-37) {
		font-size: 3em;
	}

	.page-template-default & {
		margin-bottom: 0.8em;

		@media screen and (min-width: $break-37) {
			font-size: 2.5em;
		}
	}

	a:hover {
		color: #404040;
		text-decoration: underline;
	}
}

.entry-meta {
	font-family: 'Work Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: #595959;

	a {
		color: #595959;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.author {
		text-transform: uppercase;
	}
}

.posted-on {
	display: block;
	text-transform: uppercase;
}

.updated:not(.published) {
	display: none;
}

.featured-image {
	margin-bottom: 2em;

	img {
		display: block;
	}
}

.page-content,
.entry-content,
.entry-summary {
	font-size: 1.1em;

	h1 {
		font-size: 1.602em;
	}

	h2 {
		font-size: 1.602em;
	}

	h3 {
		font-size: 1.424em;
	}

	h4 {
		font-size: 1.266em;
	}

	h5,
	h6 {
		font-size: 1.125em;
	}

	p:first-child,
	p:first-child,
	p:first-child {
		margin-top: 0;
	}
}

@media screen and (min-width: $break-37) {
	.page-content,
	.entry-content,
	.entry-summary {
		font-size: 1.4em;
	}
}

.entry-footer {
	font-family: 'Work Sans', sans-serif;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.search .page-content {
	min-height: 10em;

	.search-form {
		position: relative;
		max-width: 40rem;
	}

	.search-field {
		width: calc(100% - 3em);
		height: 3em;
		padding: 0 1em;
		-webkit-appearance: none;
	}

	.search-submit {
		position: absolute;
		top: .3em;
		right: 0;
		width: 3em;
		height: 3em;
		text-indent: -9999px;
		background: url(img/search.svg) no-repeat center;
		background-size: 1.4rem;
		border: none;
	}
}
