/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	border-bottom: 1px solid #eee;
}

.site-header[style] {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.site-branding {
	text-align: center;
	padding: 2.5em 0;
	width: 90%;
	margin: 0 auto;
	color: #404040;
}

.site-header[style] .site-branding {
	color: #fff;
}

.site-title {
	margin: 0;
	font-size: 1em;
	line-height: 1;
}

.site-title a {
	font-size: 2.5em;
	font-weight: 600;
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: $break-37) {
	.site-branding {
		padding: 2.75em 0;
	}

	.site-title a {
		font-size: 3em;
	}
}

.site-description {
  margin: 0;
}

.custom-logo-link {
	img {
		max-height: 2.5em;
		width: auto;

		@media screen and (min-width: 25em) {
			max-height: 3em;
		}

		@media screen and (min-width: $break-37) {
			max-height: 3.8em;
		}
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	position: relative;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.stick {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0.43em 4em;
}

.main-navigation li {
	background: #fff;
}

@media screen and (min-width: $break-37) {
	.main-navigation li {
		display: inline-block;
		position: relative;
	}
}

.main-navigation a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	padding: 8px 0 2px;
	margin: 0 20px 3px;
	font-size: 0.95em;
	color: #333;
	font-weight: 500;

	&:hover {
		text-decoration: underline;
	}

	@media screen and (min-width: $break-37) {
		border-bottom: 2px solid transparent;

		&:hover {
			text-decoration: none;
			border-bottom-color: #333;
		}
	}
}

.menu-toggle {
	/* Remove default button styles */
	border: 0;
	box-shadow: none;
	text-shadow: none;
	background: transparent;

	width: 100%;
	padding: 16px 0 15px;
	font-size: 0.95em;
	font-weight: 500;
	color: #404040;
	text-align: center;
	text-transform: uppercase;
}

.menu-toggle:hover {
	box-shadow: none;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $break-37) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		height: 2.75rem;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.search-toggle {
	position: absolute;
	top: 0;
	right: 0.5rem;
	width: 2.75rem;
	height: 2.75rem;
	padding: 0;
	border: none;
	background: none;
}

.search-toggle img {
	width: 1.25rem;
	height: 1.25rem;
}

.search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	height: 0;
	overflow: hidden;
	opacity: 0;
	width: 100%;
	background: transparent;
	visibility: hidden;
	transition: visibility 0s 0.2s,
				background 0.2s,
				opacity 0.2s,
				height 0s 0.2s;
}

.admin-bar .search-overlay {
	top: 32px;
}

@media screen and (max-width: 782px) {
	.admin-bar .search-overlay {
		top: 46px;
	}
}

.search-overlay.toggled {
	height: 100%;
	opacity: 1;
	visibility: visible;
	background: rgba(255, 255, 255, 0.95);
	transition-delay: 0s;
}

.search-overlay .search-close {
	position: absolute;
	top: 1em;
	right: 1.2em;
	width: 3em;
	height: 3em;
	background: url(img/search-close.svg) no-repeat center;
    background-size: 1.4rem;
	border: none;
	padding: 0;
	-webkit-appearance: none;
}

@media screen and (min-width: $break-28) {
	.search-overlay .search-close {
		right: 2em;
	}
}

.search-overlay .search-form {
	position: absolute;
	top: 25%;
	right: 0;
	left: 0;
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1.2em;
}

.search-overlay .search-field {
	width: calc(100% - 3em);
	height: 3em;
	padding: 0 1em;
	-webkit-appearance: none;
	border-radius: 0;
}

.search-overlay .search-submit {
    position: absolute;
    top: .3em;
    right: 1.45em;
    width: 3em;
    height: 3em;
    text-indent: -9999px;
    overflow: hidden;
    background: url(img/search.svg) no-repeat center;
    background-size: 1.4rem;
    padding: 0;
    border: none;
    -webkit-appearance: none;
}
