/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.blog .site-content {
	padding: 0;

	@media screen and (min-width: $break-37) {
		max-width: 100%;
	}

	@media screen and (min-width: $break-50) {
		padding: 2.2em 2em 0;
	}
}

.intro-posts {
	max-width: 80em;
	@extend .clear;

	@media screen and (min-width: $break-50) {
		padding: 0 0 2.2em;
		margin: 0 auto 3em;
	}

	@media screen and (min-width: 59.375em) {
		padding: 0 2.3em 2.2em;
	}

	a {
		text-decoration: none;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}
	}

	.entry-title,
	.entry-meta,
	.entry-excerpt {
		margin-left: 1.2rem;
		margin-right: 1.2rem;

		@media screen and (min-width: $break-37) {
			margin-left: 2rem;
			margin-right: 2rem;
		}

		@media screen and (min-width: $break-50) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.home-featured {
	@extend .clear;

	.wp-post-image {
		display: block;
		margin-bottom: 1em;

		@media screen and (min-width: $break-50) {
			margin-bottom: 0;
		}
	}

	.entry-title {
		font-size: 1.7em;
		line-height: 1.125;
		margin-bottom: 0.4em;
		clear: none;

		@media screen and (min-width: $break-50) {
			font-size: 2em;
		}
	}

	.entry-meta {
		margin-bottom: 1.2em;
	}

	.entry-excerpt {
		margin-bottom: 0;
	}

	.read-more {
		text-transform: uppercase; 
		font-family: 'Work Sans', sans-serif;
		font-weight: 400;
		font-size: 0.9em;
	}
}

.home-small {
	.wp-post-image {
		display: block;
		margin-bottom: 0.8em;
	}

	.entry-title {
		font-size: 1.3em;
		line-height: 1.3;
	}

	.entry-meta {
		font-size: 0.8em;
	}
}

@media screen and (min-width: $break-50) {
	.home-featured {
		margin: 0 0 3.125em -2.3em;

		.image-wrap {
			float: left;
			width: 55%;
			margin-right: 3%;
		}

		.detail-wrap {
			float: left;
			width: 42%;
		}
	}

	.home-small {
		width: 30.3333%;
		float: left;
		margin: 0 1.5%;
	}
}

@media screen and (min-width: 62.5em) {
	.home-featured {
		.image-wrap {
			float: left;
			width: 60%;
			margin-right: 3%;
		}

		.detail-wrap {
			float: left;
			width: 37%;
		}

		.entry-title {
			padding-top: 8%;
		}
	}
}

.latest-feed {
	max-width: 60em;
	margin: 1em auto 0;
	padding: 0 1.2em 3.5em;

	@media screen and (min-width: $break-37) {
		padding-left: 2em;
		padding-right: 2em;
	}

	@media screen and (min-width: $break-50) {
		padding: 0 0 3.5em;

		.featured-image {
			width: 29.34%
		}

		.entry-header,
		.entry-content {
			width: 67.66%;
		}
	}

	.latest-heading {
		margin: 0 0 1.923em;
		font-size: 1.3em;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;

		@media screen and (min-width: $break-37) {
			margin-bottom: 2.5em;
		}
	}
}
