/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.home .site-content {
	max-width: 85em;
}

@media screen and (min-width: 600px) {
	.home .site-content {
		padding: 2em 2.3em;
	}
}

.home .post a {
	text-decoration: none;
}

.home .post a:hover {
	color: #404040;
	text-decoration: underline;
}

.intro-posts {
	margin-bottom: 2.5em;
	@extend .clear;
}

.home-featured {
	@extend .clear;
}

.home-featured .wp-post-image {
	display: block;
	margin-bottom: 1em;
}

.home-featured .entry-title {
	font-size: 2em;
	line-height: 1.125;
	margin-bottom: 0.4em;
	clear: none;
}

.home-small .wp-post-image {
	display: block;
	margin-bottom: 0.8em;
}

.home-small .entry-title {
	font-size: 1.3em;
	line-height: 1.3;
}

.home-small .entry-meta {
	font-size: 0.8em;
}

@media screen and (min-width: 800px) {
	.home-featured {
		margin-right: 5%;

		.image-wrap {
			float: left;
			width: 55%;
			margin-right: 3%;
		}

		.entry-title {
			padding-top: 3%;
		}
	}

	.home-small {
		width: 31.3333%;
		float: left;
		margin-right: 3%;

		&:last-child {
			margin-right: 0;
		}
	}
}

.home .archive {
	max-width: 65.3em;
	margin: 0 auto;
}
