/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {
	.page .content-area,
	.single .content-area {
		float: left;
		width: 65%;
	}

	.page .site-content .widget-area,
	.single .site-content .widget-area {
		float: right;
		width: 25%;
	}
}

/*--------------------------------------------------------------
# Post Layouts
--------------------------------------------------------------*/
.archive .page-header {
	margin-bottom: 2em;

	@media screen and (min-width: 600px) {
		margin-bottom: 2.5em;
	}

	.page-title {
		margin: 0;
		font-size: 1.3em;
		font-weight: normal;
		text-transform: uppercase;
	}
}

.archive .hentry {
	clear: both;
	@extend .clear;
}

.archive .entry-header {
	margin-bottom: 1em;
}

.archive .entry-title {
	font-size: 2em;
	line-height: 1.125;
	margin-bottom: 0.4em;
}

.archive .entry-title a {
	text-decoration: none;
}

.archive .entry-title a:hover {
	text-decoration: underline;
}

.archive .entry-content {
	font-size: 1.2em;
}
 
@media screen and (min-width: 800px) {
	.archive .featured-image {
		float: left;
		width: 27%;
	}

	.archive .entry-header,
	.archive .entry-content {
		float: right;
		width: 70%;
	}
}
