/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
.latest-posts {
	padding-top: 2em;
}

.latest-posts h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 0 0 1.2em;
}

.latest-posts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.latest-posts li {
	margin-bottom: 2.5em;
}

.latest-posts li img {
	display: block;
	margin-bottom: 0.6em;
}

.latest-posts a {
	text-decoration: none;
	display: inline-block;
}

.latest-posts a:hover {
	text-decoration: underline;
}

.latest-posts h3 {
	font-family: 'Poly', serif;
	font-weight: normal;
	line-height: 1.3;
	margin: 0 0 0.4em;
}
